In [18]:
import pandas as pd

In [21]:
data = pd.DataFrame({"Name": ['Feyre', 'Rhys', 'Nesta','Cassian'],
                     "Race": ["human", "faerie", "human", "illyrian"],
                     "Age": [21,734,23,801]})

In [24]:
divide_2 = lambda x: x/2
divide_2(data['Age'])

0     10.5
1    367.0
2     11.5
3    400.5
Name: Age, dtype: float64

In [27]:
data['age_label_2'] = data['Age'].apply(
lambda x:  'fae old' if x > 300 else ('middle-aged' if x >=100 else 'young'))

In [29]:
data

      Name      Race  Age age_label_2
0    Feyre     human   21       young
1     Rhys    faerie  734     fae old
2    Nesta     human   23       young
3  Cassian  illyrian  801     fae old